{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/static.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <title>Herald College</title>
</head>
<body>
    {% block content %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white text-dark shadow-sm bg-body rounded">
          <div class="container-fluid">
            <div class="left">
              <a class="navbar-brand ml-3" href="#"><img src="{% static 'img/hck_ing_group_logo.png' %}" alt="Herald College"></a>
            </div>
            <div id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'changePassword' %}">Change Password /
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">Log Out / </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>

      </header>

      <br>
<main>
  <div class="login">
    {% if messages %} {% for message in messages %}
    <div class="alert alert-danger" role="alert">{{message}}</div>
    {% endfor %} {% endif %}
    <div class="container">
      <div class="login-header d-flex flex-column align-items-center mb-2">
        <img src="{% static 'img/hck_ing_group_logo.png'%}" alt="" /><br />
      </div>
      <form method="POST" class="border pe-5 ps-5 pb-5 pt-3">
        <h1 class="heading fw-bold text-center">Change Password</h1>
        {% csrf_token %}
        <label for="yourEmail" class="pb-1">Email Address</label>
        <input
          type="text"
          class="form-control mb-1"
          id="yourEmail"
          name="email"
        />
        <label for="currentPassword" class="pb-1">Current Password</label>
        <input
          type="password"
          class="form-control mb-3"
          id="currentPassword"
          name="currentPassword"
        />
        <label for="newPassword" class="pb-1">New Password</label>
        <input
          type="password"
          class="form-control mb-3"
          id="newPassword"
          name="newPassword"
        />
        <button
          onclick="location.href = '/login'"
          type="submit"
          class="btn d-flex align-items-center ms-auto me-auto"
        >
          Change Password
        </button>
      </form>
    </div>
  </div>
</main>
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
